<style type="text/css">
	.helpful {
		display: block;
	}
	
    .helpful a img {
        border: none;
    }

    .helpful .feedback {
        border: 1px solid;
        padding: 10px 10px 10px 10px;
        margin: 0px 8%;
        margin-top: 10px;
    }

    .helpful a {
		text-decoration: none;	
    }

	.helpful a.button {
		background-color: #ECECEC;
		border: 1px solid #CACACA;
		border-bottom-left-radius: 3px 3px;
		border-bottom-right-radius: 3px 3px;
		border-top-left-radius: 3px 3px;
		border-top-right-radius: 3px 3px;
		display: block;
		padding: 4px 5px;	
		float: left;
		cursor: pointer;
		line-height: 1.2;
		font-size: 11px;
	}
	
	.helpful a.button:hover {
		background-color: #DADADA;
	}

	.helpful a.button.toggled {
		background-color: #CCCCCC;
		border-color: #AAAAAA;
	}
	
	.helpful a .liketext {
		color: #333333;
		display: block;
		padding-left: 17px;		
		background: url($bootstrap.domainName/download/resources/com.unic.confluence.like/like.png) no-repeat 0% -2px;
	}
	
	.helpful a .disliketext {
		color: #333333;
		display: block;
		padding-left: 15px;		
		background: url($bootstrap.domainName/download/resources/com.unic.confluence.like/dislike.png) no-repeat 0% -2px;
	}

	.helpful a.button.toggled .liketext {
		background: url($bootstrap.domainName/download/resources/com.unic.confluence.like/likegrey.png) no-repeat 0% -2px;
	}
	
	.helpful a.button.toggled .disliketext {
		background: url($bootstrap.domainName/download/resources/com.unic.confluence.like/dislikegrey.png) no-repeat 0% -2px;
	}
</style>

<div class="helpful">
	<table>
		<tr>
		    <td><a id="like" class="button #if($hasLiked)toggled#{else}like#end" href="$req.contextPath/statpro-ranking/rankMe.action?pageId=$pageId&amp;#if($hasLiked)like=true&amp;dislike=true#{else}like=true&amp;dislike=false#end"><span class="liketext">Like</span></a>
			</td>
			<td><a class="button #if($hasDisliked)toggled#{else}dislike#end" href="$req.contextPath/statpro-ranking/rankMe.action?pageId=$pageId&amp;#if($hasDisliked)like=true&amp;dislike=true#{else}like=false&amp;dislike=true#end"><span class="disliketext">&nbsp;</span></a></td>
    		<td><span id="youlike" style="display: #if($hasLiked)visible#{else}none#end"><strong><a class="confluence-userlink username:${req.userPrincipal.name} url fn" href="$req.contextPath/display/~${req.userPrincipal.name}">You</a></strong> and </span><a id="likeUserTip" href="#" title="Click to expand">$likeCount #if( $likeCount == 1)other#{else}others#end</a><span id="likeUserList" style="display: none">$likeUserList</span> like this. <a id="dislikeUserTip" href="#" title="Click to expand">$dislikeCount </a><span id="dislikeUserList" style="display: none">$dislikeUserList</span> #if( $dislikeCount == 1)dislikes#{else}dislike#end this. <span id="update" style="display: none">Updating ...</span></td>
		</tr>
	</table>
</div>

#requireResource("confluence.web.resources:jquery")

<!-- Init -->
<script type="text/javascript">
    var $j = jQuery;

    $j(document).ready( function() {
        // Feedback Status
        var feedbackStatus = {};
		// Attach showing the list of likers
		$j("#likeUserTip").click( function () {
			$j("#likeUserTip").hide();
			$j("#likeUserList").show();
			return false;
		} ); 
		
		$j("#dislikeUserTip").click( function () {
			$j("#dislikeUserTip").hide();
			$j("#dislikeUserList").show();
			return false;
		} ); 

        // Attach feedback triggers to images
        $j("#like.like").live("click", function () {
            // Was helpful clicked?
			// TODO: 
			//  * Use Ajax for clicks
			//  * Use Ajax for status
			$j("#update").show();
			try 
			{	
				var target = $j(this);
				var href = target.attr("href");
				AJS.safe.ajax( {
					url: href,
					type: "GET",
			        dataType: "xml",
					data: { 
						"ajax": "true"
						}, 
		            success: function(data) {
						$j("#update").hide();
						$j("#youlike").show();
						$j(target).removeClass("like").addClass("toggled");
						
						/****
						 * Removed: too intrusive for most
						AJS.safe.ajax( {
							url: contextPath + "/status/update.action",
					        type: "POST",
					        dataType: "json",
					        data: {
					            "text": "likes ${pageWikiLink}" 
					        }
					    } );
						*/ 
		            },
		            error: function(xhr, text, error) {
		                AJS.log("Error liking page: " + text);
		                AJS.log(error);
	            	}
				} );
			} catch (err) {
				AJS.log("Error: " + err);
				return true;
			}
            return false;
        } );
    } );
</script>
